:root {
  /* Variables for navigation */
    --bottom-nav-space: 10vh; /* Making space at the bottom of the page for the navbar */
    --bottom-nav-iconsize: 3.5vh;
    --bottom-nav-fontsize: 1.5vh;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 24px;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center; /* On horizontal axis*/
  align-items: center; /* On vertical axis*/
}

body {
  margin: 0 0 var(--bottom-nav-space) 0; /* Making Space at the bottom*/
}

h2 {
  text-align: left;
  margin-left: 10%;
}

/* Navigation styling follows: */
.nav {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: var(--bottom-nav-space);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  display: flex;
  overflow-x: auto; /* Small phones - scrolling option*/
}

.nav__link {
  display: flex;
  flex-direction: column; /* Putting Text below Icon*/
  align-items: center; /* Centering Icon+Text in the nav-bar*/
  justify-content: center; /* On vertical axis ('cause of column)*/
  flex-grow: 1;
  min-width: 50px;
  overflow: hidden; /* No scrolling or text out of the box*/
  white-space: nowrap; /* No linebreak in the text*/
  font-family: sans-serif;
  color: #444444;
  text-decoration: none; /* No underline on links*/
  -webkit-tap-highlight-color: transparent;
  transition: background-color 0.1s ease-in-out;
}

.nav__link:hover {
  background-color: #eeeeee;
}

.nav__link--active {
  color: #009578;
}

.nav__icon {
  font-size: var(--bottom-nav-iconsize);
  margin: 10px;
}

.nav__text {
  font-size: var(--bottom-nav-fontsize);
  margin-bottom: 1vh;
}

/* Content follows: */

.container {
  text-align: center;
}

.section__landing {
  color: white;
  background-color: black;
  background-image: url("./assets/landingpage-background-main.jpg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Putting the 2 section divs to the top */
  align-items: center;
}
.section__landing__top {
  height: 40vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centering on vertical Axis */
}

/*TODO: Container for heading and subheading */
.heading {
  font-size: 5vh;
  text-align: left;
  margin-left: 10%;
}
.subheading {
  font-size: 2.5vh;
  text-align: left;
  margin-bottom: 20px;
  margin-left: 10%;
}

.section__landing__bottom {
  height: 40vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);

}
.slideshow {
  height: 40vh;
  display: flex;
  overflow: auto;
  white-space: nowrap;
}

.slideshow::-webkit-scrollbar {
    display: none;
}

.slideshow .image__slide {
  border-radius: 15px;
  box-shadow: 0 0 3px rgba(255, 255, 255, 0.2)
}

.image__slide {
  width: 44vw;
  height: auto;
  margin: 10px;
  object-fit: cover;
}

.two {
  background: rgba(22,22,22);
}

.three {
  background: rgba(122,42,42);
  color: white;
}

.four {
  background: rgba(165,199,99);
}
